body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
  }
.cards{
    max-width: 100%;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    

}
.card{
    width: 264px;
    height: 336px;
    border-radius: 7px;
    margin: 40px;
    box-shadow: 0px 2px 4px 0px #0000000e;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    
}
img{
    width: 264px;
    height: 160px;
}
li{
    padding-left: 20px;
    gap: 5px;
    
}
h3{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
a{
    color: black;
}

:root{
    --main-bg-color: white;
    --main-text-color: black;
}
  
.theme{
    --main-bg-color: #202C36;
    --main-text-color: white;
}
input{
    background-color: var(--main-bg-color);
        color: var(--main-text-color);
}
select{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
button{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}